// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #6495ed;
  --ion-color-primary-rgb: 100, 149, 237;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #5883d1;
  --ion-color-primary-tint: #74a0ef;

  --ion-color-secondary: #435d8c;
  --ion-color-secondary-rgb: 67, 93, 140;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #3b527b;
  --ion-color-secondary-tint: #566d98;

  --ion-color-danger: #f53d3d;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #d83636;
  --ion-color-danger-tint: #f65050;
}

// Top Toolbar
ion-toolbar {
  --background: var(--ion-color-secondary);
  --color: var(--ion-color-light);
}

// Bottom tabs
ion-tab-bar {
  --background: var(--ion-color-secondary);
}

ion-tab-button {
  --background: var(--ion-color-secondary);
  --color: var(--ion-color-light);
  --background-focused: var(--ion-color-dark);
  --color-focused: var(--ion-color-light);
}
