<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>iWeather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" class="ion-padding" [fullscreen]="true">
  <ion-grid *ngIf="!isEmptyObject(weatherLocation) && !isEmptyObject(weather)">
    <ion-row>
      <ion-col offset>
        <h2 class="location">
          {{weatherLocation.name}}, {{weatherLocation.region}}
        </h2>
        <div class="icon">
          <img [src]="getIconUrl()" alt="" />
        </div>
        <h3 class="desc">{{weather.condition.text}}</h3>
        <h1 class="temp">{{weather.temp_c}}&deg;C</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item
            ><strong>Temp: &nbsp;</strong>{{weather.temp_c}}&deg;C</ion-item
          >
          <ion-item
            ><strong>Relative Humidity: &nbsp;</strong
            >{{weather.humidity}}%</ion-item
          >
          <ion-item
            ><strong>Dewpoint: &nbsp;</strong
            >{{weather.dewpoint_c}}&deg;C</ion-item
          >
          <ion-item
            ><strong>Visibility: &nbsp;</strong>{{weather.vis_km}}km</ion-item
          >
          <ion-item
            ><strong>Heat Index: &nbsp;</strong
            >{{weather.heatindex_c}}&deg;C</ion-item
          >
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
